body{
    background-color: white;
}

h1{
    color: white;
    border: 1px solid black;
    border-radius: 10px; /* arredondada */
    text-align: center;
    background: black;
    margin: 30px 70px 100px 20px; 
}

p{
    color: blue;
    margin-bottom: 40px;
    margin-left: 20px;
}

.exemplo-back{
    height: 300px;
    background: gray url("../img/background.jpg") no-repeat center/cover;
}