body{
    background-color: white;
}

h1{
    color: white;
    border: 1px solid black;
    border-radius: 10px; /* arredondada */
    text-align: center;
    background: black;
}

p{
    color: blue;
}

.exemplo-back{
    height: 300px;
    background: gray url("../img/background.jpg") no-repeat center/cover;
}