/* @import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter:opsz@14..32&display=swap');

body{
    background-color: white;
}

h1{
    color: white;
    border: 1px solid black;
    border-radius: 10px; /* arredondada */ /*
    text-align: center;
    background: black;
    margin: 30px 70px 100px 20px; 
    padding-top: 50px;
    padding-bottom: 20px;
    padding-left: 10px; 
    padding-right: 70px;
    padding: 50px 70px 50px 10px; 
    letter-spacing: 5px;
    font-family: 'Anton', sans-serif;
} 

p{
    color: black;
    margin-bottom: 40px;
    margin-left: 20px;
    text-align: justify;
    text-transform: uppercase;
    text-indent: 60px;
    /* Para fontes utilizar: https://fonts.google.com/ */ /*
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px; 
    font-weight: bold;
    display: inline;
}

#p1{
    display: block;
}

#p1:hover{
    display: none;
}

li{
    display: inline-block;
    width: 150px;
}

.verde{ 
    background: green;
}

.azul{ 
    background: blue;
}

.vermelho{ 
    background: red;
}

.exemplo-back{
    height: 100px;
    height: 300px;
    background: gray url("../img/background.jpg") no-repeat center/cover;
    margin-bottom: 100px;
}

.botao{
    margin-left: 33%;
    background: green;
    color: white;
    padding-top: 30px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 5px;
    text-decoration: none;
}

.botao:hover{
    background: blue;
}

.teste{
    width: 300px; /* largura */ /*
    height: 150px; /* altura */ /*
    max-width: 800px; /* largura máxima - bom para responsividade */ /*
    background: cyan;
}

a.botao1{
    background: darkgreen;
    color: white;
    padding: 10px;
    text-decoration: none;
    border: 4px solid greenyellow;
    border-radius: 5px;
}

a.botao1:hover{
    background: rgb(6, 211, 6);
    padding: 12px;
    border: 4px solid rgb(80, 129, 6);
}

a.botao2{
    text-decoration: none;
    padding: 10px;
    border: 5px double blue;
    color: blue;
    border-radius: 5px;
}

a.botao2:hover{
    text-decoration: underline;
    color: white;
    background: blue;
    padding: 8px;
}

a.botao3{
    text-decoration: none;
    color: black;
}

a.botao3:hover{
    border-bottom: 5px solid red;
}

a.botao4{
    text-decoration: none;
    color: blue;
    font-size: 18px;
}

a.botao4:hover{
    font-size: 22px;
    font-weight: bold;
}

a.botao5{
    cursor: wait;
}

a.botao6{
    display: inline-block;
    margin-top: 100px;
    width: 50%;
    height: 50px;
}


.borda{
    border: 1px solid red;
}

div{
    display: inline-block;
    width: 33%;
    height: 150px;
}


.ex1{
    /* Importante para responsividade - max-width */ /*
    max-width: 800px;
}

.ex2{
    max-width: 800px;
} */


/* .container{
    display: inline-block;
    /* background: blue; */
    /* width: 100%; 
    height: 400px;
    position: relative;
} */

.div1{
    left: 60px;
    width: 30%;
    height: 100px;
    background: yellow;
    display: inline-block;
}

.div2{
    width: 30%;
    height: 100px;
    background: pink;
    display: inline-block;
    position: sticky;
    top: 0;
}

.div3{
    width: 30%;
    height: 100px;
    background: red;
    display: inline-block;
    position: absolute;
    top: 150px;
    right: 40%;
}

.whats{
    background: green;
    color: white;
    width: 80px;
    height: 80px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    text-align: center;
}

.centro {
    position: absolute;
    top: 50%;
    text-align: center;
    width: 100%;
    color: white;
}

/* img{
    width: 100%;
    opacity: 0.5;
} */

.exemplo{
    background: grey;
    color: black;
    height: 50px;
    width: 1200px;
    overflow: auto;
}


body{
    overflow-y: hidden;
    overflow-x: hidden;
}

.container{
    border: 1px solid black;
    overflow: auto;
}

.container img {
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
}

/* ul{
    background: black;
    padding: 20px;
}

li{
    display: inline-block;
}

li a{
    color: white;
    text-decoration: none;
        padding: 20px;

}

li a:hover{
    background: gray;
} */

.login {
    float: right;
}

.login a:hover{
    background: red;
}

.img1:hover{
    opacity: 0.5;
}

.img2{
    opacity: 0.7;
}

.img3{
    opacity: 0.3;
}

a.botao6{
    padding: 15px;
    background: green;
    color: white;
    text-decoration: none;
}

a.botao6:hover{
    opacity: 0.9;
}

.transparente{
    background: blue;
    color: white;
    padding: 40px;
    opacity: 0.5;
}

ul{
    background: black;
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

li{
    float: left;
}

li a, .dropbtn{
    display: inline-block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
}

li a:hover, .dropdown:hover .dropbtn{
    background: gray;
}

li.dropdown{
    display: inline-block;
}

.dropdowncontent{
    display: none;
    position: absolute;
    background: white;
    width: 150px;
}

.dropdowncontent a{
    color: black;
    display: block;
    text-align: left;
    text-decoration: none;
    border: 1px solid gray;
}

.dropdowncontent a:hover{
    color: white;
}

.dropdown:hover .dropdowncontent{
    display: block;
}

.red{
    background: red;
}

h1.red{
    background: orangered;
}

h1 {
    background: yellow;
}

#meuid {
    color: red;
}

.minhaclasse {
    color: blue;
}   

h1{ 
    color:green !important;
}